<img src="https://files.realpython.com/media/Real-Python-Tips-and-Tricks_Watermarked.ee4e4265c99b.jpg"></img>
# Множества и словари

## Неизменяемые типы
int, float, complex, bool, str, tuple, frozenset

При попытке совершить мутирующую операцию с неизменяемым объектом может произойти одна из двух вещей:

Произойдет создание измененной копии объекта (оператор += )
Произойдет ошибка (оператор [])

## Изменяемые типы

list, dict, set

## Контейнеры
Контейнер - это объект, содержащий ссылки на другие объекты и предоставляющий к ним доступ

## Множества

In [5]:
my_set = set()
type(my_set)

set

In [6]:
my_set = {1, 2, 3, 1, 4, 3 , 5}
my_set

{1, 2, 3, 4, 5}

In [9]:
my_set = {'hello', 1, 3, 5, "hey", (1, 2)}
my_set

{(1, 2), 1, 3, 5, 'hello', 'hey'}

In [10]:
my_set = {'hello', 1, 3, 5, "hey", [1, 2]}

TypeError: unhashable type: 'list'

### Опрерации с множествами

In [7]:
{1, 5, 7} - {4, 5}

{1, 7}

In [16]:
{1, 5, 7} | {4, 5}

{1, 4, 5, 7}

In [17]:
{1, 5, 7} & {4, 5}

{5}

In [18]:
{1, 5, 7} ^ {4, 5}

{1, 4, 7}

In [19]:
{1, 5, 7} > {4, 5}

False

In [20]:
{1, 5, 7, 4} > {4, 5}

True

In [21]:
{1, 5, 7} != {4, 5}

True

In [11]:
sorted({3, 5, 6, 7, 7, 7, 0, 23})

[0, 3, 5, 6, 7, 23]

In [15]:
list(map(str, {-3, 59, 6, 7, 7, 7, 0, 23}))

['0', '6', '7', '23', '59', '-3']

In [41]:
my_set = {1, 2, 3}
my_set.add(5)
print(my_set)
my_set.update({10, 6})
print(my_set)

{1, 2, 3, 5}
{1, 2, 3, 5, 6, 10}

### Упражнение (9A)

Дан список чисел, который может содержать до 100000 чисел. Определите, сколько в нем встречается различных чисел

###  Упражнение (9B)

Даны два списка чисел, которые могут содержать до 100000 чисел каждый. Посчитайте, сколько чисел содержится одновременно как в первом списке, так и во втором. Примечание. Эту задачу на Питоне можно решить в одну строчку.

### Упражнение (9F)

Во входном файле (вы можете читать данные из sys.stdin, подключив библиотеку sys) записан текст. Словом считается последовательность непробельных символов идущих подряд, слова разделены одним или большим числом пробелов или символами конца строки. Определите, сколько различных слов содержится в этом тексте.

## Словари

In [22]:
my_dict = {'a': 23, 'n': 453, 'hey': 70}
my_dict

{'a': 23, 'n': 453, 'hey': 70}

In [25]:
my_dict = dict([('a', 4), ('b', 54)])
my_dict

{'a': 4, 'b': 54}

In [26]:
for key, value in my_dict.items():
    print(key, value)

a 4
b 54

In [28]:
my_dict['amam'] = 98
my_dict

{'a': 4, 'b': 54, 'amam': 98}

In [29]:
my_dict.update({"hello": 4567})

In [30]:
my_dict

{'a': 4, 'b': 54, 'amam': 98, 'hello': 4567}

In [31]:
for key in my_dict.keys():
    print(key)

a
b
amam
hello

In [32]:
for value in my_dict.values():
    print(value)

4
54
98
4567

## Генераторы контейнеров

In [33]:
my_list = [i ** 2 for i in range(10)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [38]:
my_dict = {i : i ** 3 for i in range(8)}
my_dict

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

In [42]:
my_set = {i for i in range(40) if not i % 5}
my_set

{0, 5, 10, 15, 20, 25, 30, 35}

### Упражнение (10А)

Дан список стран и городов каждой страны. Затем даны названия городов. Для каждого города укажите, в какой стране он находится.

**Формат ввода**

Программа получает на вход количество стран N. Далее идет N строк, каждая строка начинается с названия страны, затем идут названия городов этой страны. В следующей строке записано число M, далее идут M запросов — названия каких-то M городов, перечисленных выше.

**Формат вывода**

Для каждого из запроса выведите название страны, в котором находится данный город.

### Упражнение (10E)

Дан текст. Выведите слово, которое в этом тексте встречается чаще всего. Если таких слов несколько, выведите то, которое меньше в лексикографическом порядке.